.ast-metrics-cache
vendor
.idea
bin
dist/
.phpunit.result.cache
.phpunit.cache
.vscode
build
bindata.go
include
coverage.txt

# Profiling
ast-metrics.cpu
ast-metrics.mem

# CI
ast-metrics-report.json
metrics.txt
samples

# AI
models
dataset
classified_output
*.plk

